div.containerDropdown{
    background-color: #6a0795f0;
    color: white;
    

}

h2{
    background-color: #6a0795;

    color: white;
    text-transform: none;
    font-size: 20px;
    align-items: left;
    border: none;

}

.from-select{
    align-items: right;
    text-transform: none;
    font-size: 15px;
    color:  white;
    background-color: #6a0795f0;
    border-color: white;
    border-radius: 5%;
}

.from-select a:hover{
    color:  #FFFFFF;
    background-color: #6a0795f0;
}

/*.dropdown-basic-button{
    background-color: #6a0795;
    text-decoration-color: white;
}*/