
/*per desktop */
@media (min-width: 1024px){

    .desktop-page {
        display: flex;
        flex-direction: column;

        background-size: cover; /* Assicura che l'immagine di sfondo copra tutto il div */
        background-position: center; /* Centra l'immagine di sfondo */
        background-repeat: no-repeat; /* Evita che l'immagine di sfondo si ripeta */
    }

    .mobile-page{
        display: none;
    }

    .content-wrapper {
        display: flex;
        flex-direction: column;
    }

    .container {
        display: flex;
        justify-content: center;
    }

    .film-image {
        width: 360px;
        height: auto;
        background-color: #f5f5f5;
        border-radius: 20px;
        padding: 2px;      
        margin-bottom: 10px;
        margin-top: 10px;
        margin-right:20px;
        margin-left: 20px;

        flex: 0 0 auto;
    }

    .film-image img {
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }


    .info-film {
        display: flex;
        flex-direction: column;
        align-items: flex-start; /* Posiziona tutti i figli all'inizio del div */
        margin-top: 10px;
        margin-right: 20px;
        margin-left: 20px;
        margin-bottom: 10px;
    }

    h1 {
        color: white;
        text-align: start;
        margin: 0px;

        font-size: 36px;

        text-shadow: 
            1px 1px 0 #6a0795,  /* Ombra in basso a destra */
            -1px 1px 0 #6a0795, /* Ombra in basso a sinistra */
            1px -1px 0 #6a0795, /* Ombra in alto a destra */
            -1px -1px 0 #6a0795;/* Ombra in alto a sinistra */

    }

    p {
        color: white;
        text-align: center;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 10px;
        margin-right: 10px;

        font-size: 16px;
    }

    .info-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: flex-start;
    }

    .info {
        display: flex;
        flex-direction: column;
    }

    .generi{
        background-color: #6a0795;
        color: white;
        border-radius: 20px;

        padding: 5px;
        display: inline-block;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 0px;
        margin-right: 0px;

        width: 350px;
    }

    .data {
        background-color: #6a0795;
        color: white;
        border-radius: 20px;

        padding: 5px;
        display: inline-block;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .voto {
        background-color: #6a0795;
        color: white;
        border-radius: 20px;

        padding: 5px;
        display: inline-block;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .bottoni {
        
        display: flex;
        flex-direction: column;

        margin-left: 66px;
    }

    .custom-button {
        background-color: #6a0795;

        color: white;
        text-transform: none;
        font-size: 16px;
        
        border: none;
        

        margin-left: 0px;
        margin-right: 0px;
        margin-top: 20px;
        margin-bottom: 20px;

        border-radius: 20px;
        padding: 15px;

        flex: 1;
        width: 300px;
    }

    .custom-button p {
        margin: 0px;
    }


    .icon {
        font-size: auto;
    }

    .descrizione {
        
        background-color: #6a0795;
        color: white;
        border-radius: 20px;

        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-top: 10px;

        padding: 5px;

        max-width: 716px;
    }

    .text-descrizione {
        color: white;
        text-align: justify;
        margin: 10px ;
        font-size: 18px;
    }
}







/*per mobile */
@media (max-width: 1023px){

    .mobile-page{
        display: block; /*no flex perche scompiglia tutto*/
        width: auto;
        height: auto;
        

        border-radius: 20px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: -10px;
        
        border: 2px solid white;

        
        background-size: cover; /* Assicura che l'immagine di sfondo copra tutto il div */
        background-position: center; /* Centra l'immagine di sfondo */
        background-repeat: no-repeat; /* Evita che l'immagine di sfondo si ripeta */

        }

    .desktop-page{
        display: none;
    }

    h1 {
        color: white;
        text-align: center;
        margin:10px;

        text-shadow: 
            1px 1px 0 #6a0795,  /* Ombra in basso a destra */
            -1px 1px 0 #6a0795, /* Ombra in basso a sinistra */
            1px -1px 0 #6a0795, /* Ombra in alto a destra */
            -1px -1px 0 #6a0795;/* Ombra in alto a sinistra */
    }

    p {
        color: white;
        text-align: center;
        margin: 0px;
        margin-bottom: 0px;

        font-size: 16px;
    }

    .generi{
        background-color: #6a0795;
        color: white;
        border-radius: 20px;

        padding: 10px;
        display: inline-block;

        margin: 0px 10px;
    }

    .info-film-container{
        display: flex;
        flex-direction: row;
        justify-content: center; /*center da mettere su cell, flex-start su desktop (probabile) - al momento è ok per entrambi fit-content finche non si fa la distinzione*/
        align-items: stretch;                        
        margin-left: 10px;
        margin-right: 10px;

        height: 100%;

        flex-grow: 1; /* Assicura che .info-film-container cresca per riempire lo spazio disponibile */

    }

    .film-image {
        flex: 0 0 auto;
        width: 200px;
        height: auto;
        background-color: #f5f5f5;
        border-radius: 20px;
        padding: 2px;      
        margin-bottom: 10px;
        margin-right: 5px;
        margin-left: 0px;
        margin-top: 10px;

        display: flex;

        flex-grow: 1; /* Assicura che .film-image cresca per riempire lo spazio disponibile */
    }

    .film-image img {
        width: 100%;
        height: 100%;
        border-radius: 20px;
        flex-shrink: 0;
    }

    .info-film{
        color: white;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        align-content: start;
        
        margin-bottom: 5px;
        margin-left: 5px;
        margin-right: 0px;
        margin-top: 5px;

        padding: 0px;

        width: 100%;
        height: auto;
        box-sizing: border-box;
    }

    .info {
        background-color: #6a0795;

        color: white;
        font-size: 16px;
        flex-direction: column;
        
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        align-content: center;
        

        margin: 5px;
        border-radius: 20px;
        padding: 5px;
        

        flex: 1;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    }

    .info p {
        margin: 5px 0px;
    }

    .custom-button {
        background-color: #6a0795;

        color: white;
        text-transform: none;
        font-size: 16px;
        
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        text-align: center;
        

        margin: 5px;
        border-radius: 20px;
        padding: 5px;

        border: none;

        flex: 1;
        width: 100%;
        height: 100%;
    }

    .custom-button p {
        margin: 0px;
        
    }

    .icon {
        font-size: auto;
    }

    .descrizione {
        margin-bottom: 10px;
        background-color: #6a0795;
        color: white;
        border-radius: 20px;

        margin-left: 10px;
        margin-right: 10px;

        padding: 5px;
    }

    .text-descrizione {
        color: white;
        text-align: justify;
        margin: 10px ;
        font-size: 18px;
    }
}                   