  /*per desktop*/
@media (min-width: 1024px){

  .mobile-footer{
    display: none;
  }

  .desktop-footer{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .app-footer {
    background-color:  #2A4DA9;
    padding: 15px 20px;
    align-items: center;
    text-align: center;

  }

  .app-footer nav a {
    color: #FFFFFF;
    text-decoration: none;
    margin: 0 10px;
  }

}

/*per mobile*/
@media (max-width: 1023px){

  .desktop-footer{
    display: none;
  }

  .mobile-footer{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .app-footer {
    background-color: #2A4DA9;
    padding: 15px 20px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .nav-footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  .app-footer nav a {
    color: #FFFFFF;
    text-decoration: none;
    margin: 0 10px;
  }
}