
/* per mobile */
@media (max-width: 1023px) {

.app-footer {
  margin-top: 2%;
}
  
}

/* per desktop */
@media (min-width: 1024px){
  .app-footer {
    margin-top: 2%;
  }
}

.app-footer a {
  color: white;
  text-decoration: underline;
}

.app-footer p {
  margin: 5px;
}

.smaller {
  font-size: 12px;
}
.smaller a {
  font-size: 12px;
}


.app-footer {
  background-color:  #6a0795;
  padding: 15px 20px;
  align-items: center;
  text-align: center;
  color: white;
}