
/* per mobile */
@media (max-width: 1023px) {

.app-footer {
  margin-top: 2%;
}
  
}

/* per desktop */
@media (min-width: 1024px){
  .app-footer {
    margin-top: 2%;
  }
}



.app-footer {
  background-color:  #6a0795;
  padding: 15px 20px;
  align-items: center;
  text-align: center;
  color: white;
}