.locked {
  pointer-events: none;
  opacity: 0.5; /* Opzionale: per dare un feedback visivo che il bottone è disabilitato */
}



/*per desktop*/
@media (min-width: 1024px){

  body {
    margin-top: 110px;
  }

  .mobile-header{
    display: none;
  }

  .app-header {
    align-items: center;
    text-align: center;
    display: flex;
  }

  .logo {
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
    display: inline-flex;
    align-items: center;
  }

  .logoImg {
    margin: 0 -10px; /* Spazio tra l'immagine e il testo */
    height: 80px; /* Altezza dell'immagine, adattala alle tue esigenze */
  }

  .desktop-header{
    display: flex;
    align-items: center;
    padding: 0px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100000000;
    margin: 20px solid #6a0795;

    
  }

  .top{
    width: 100%;
    
    background: linear-gradient(0deg, #00000000 0%, #6a0795 40%);
    /*background-color: #6a0795; VIOLA*/
    text-align: center;
    height: fit-content;

    justify-content: center;
    align-items: center;
    display: flex;
  }

  .top > a {
    margin: 1px 50px;
    font-size: 24px;
    font-weight: bold;
  }

  a {
    font-size: 18px;
    color: #FFD200;
    text-decoration: none;
    text-align: center;
    display: inline-flex;
    align-items: center;
    padding: 0;
  }

  .top ul{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-direction: row;
    padding: 0;
    margin: 0;
  }

  li a {
    color: #FFFFFF;
    padding: 0px;
    text-decoration: none;
    font-size: 20px;
    
    font-weight: bold;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  li{
    list-style: none;
  }

  .active a{
      color: #FFD200;
    
  }
  .icon{
    margin-bottom: 8px;
    
  }

  
}










/*per mobile*/
@media (max-width: 1023px){

  body {
    margin-top: 80px;
    margin-bottom: 80px;
  }

  .desktop-header{
    display: none;
  }

  .mobile-header{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .app-header {
    color: white;
    padding: 8px 20px;   
    align-items: center;
    text-align: center;
  }

  .logo {
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
    display: inline-flex;
    align-items: center;
  }

  .logoImg {
    margin: 0 -10px; /* Spazio tra l'immagine e il testo */
    height: 80px; /* Altezza dell'immagine, adattala alle tue esigenze */
  }

  .top{
    /*background: radial-gradient(ellipse, #6a0795f0 50%, #00000000 70%);*/
    background: linear-gradient(0deg, #00000000 0%, #6a0795 40%);


    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    /*background-color: #6a0795;*/
    width: 100%;
    z-index: 100000000;

  }

  .top a {
    color: #FFD200;
  }

  .bottom{
    position: fixed;
    z-index: 100000000;
    bottom: 0%;

    background-color: #6a0795;
    padding: 15px 0px;
    text-align: center;
    width: 100%;
    height: 5%;

    justify-content: center;
    align-items: center;
    display: flex;
  }

  .nav-bottom{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0 20px;
    
  }

  .nav-bottom ul{
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-direction: row;
    padding: 0;
  }

  li a {
    color: #FFFFFF;
    padding: 20px;
    text-decoration: none;

    font-size: 25px;
    
  }

  li{
    list-style: none;
  }

  .active a{
    color: #FFD200;
  }
}



  /*
Palette di Colori
Primario: #E71D32 (Rosso)
Secondario: #2A4DA9 (Blu)
Accento: #FFD200 (Giallo)
Sfondo: #FFFFFF (Bianco)
*/