.home-page {
    width: 100%;
    margin: 0 auto;
    padding: 0px;
  }
  
  .home-page h1 {
    text-align: center;
    color: #ff4458;
  }

  .search-bar {
    width: 80%;
    
  }

 /*per mobile*/
 @media (max-width: 1023px){ 
  
}