@media (max-width: 1023px) {
    
    .match-room-mobile{
        display: flex;
        flex-direction: column;

        margin: 0px;
        margin-bottom: -1000px;
    }

    .match-room-desktop{
        display: none;
    }

    .esci{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: -20px 10px;

    }

    .esci button{
        font-size: 18px;
        color: white;
        font-weight: bold;

        padding: 15px;

        background-color: #6a0795;
        border-radius: 50px;

        justify-content: center;

        display: flex;        

        border: none;
        cursor: pointer; /* Cambia il cursore per indicare che è cliccabile */
    }

    .game-container{
        display: flex;
        flex-direction: column;
        align-items: center;

        margin: 10px;
    }

    .film-div{

        flex: 0 0 auto;
        width: 80vw;
        height: auto;
        background-color: #6a0795;
        border-radius: 5vw;
        padding: 0px; 
        
        display: flex;
        align-items: center;
        margin: 10px;

        flex-direction: column;

        transition: transform 0.3s ease-in-out;
    }

    .swipe-left {
        transform: translateX(-100%) rotate(20deg);
    }
        
    .swipe-right {
        transform: translateX(100%) rotate(-20deg);
    }

    .film-div img{
        width: 90%;
        height: auto;
        margin: 10px 0px;
        border-radius: 5vw;

    }

    .film-div h3{
        color: white;
        font-size: 15px;
        font-weight: bold;
        margin: 10px;

        display: flex;
        flex-wrap: wrap;
        
    }

    .like-dislike{
        display: flex;
        justify-content: space-evenly;

        width: 100vw;

        margin: 10px;
    }

    .like-dislike button{
        font-size: 20px;
        color: white;
        font-weight: bold;

        padding: 20px;

        background-color: #6a0795;
        border-radius: 50%;

        display: flex;
        justify-content: center;
        align-items: center;

        width: 20vw;
        height: 10vh;

        border: none;
        cursor: pointer; /* Cambia il cursore per indicare che è cliccabile */
    }
}

@media (min-width: 1024px) {
    
    .match-room-mobile{
            display: none;
    }

    .match-room-desktop{
        display: flex;   
        flex-direction: row;

        align-items: center;
        justify-content: center;

        margin: 25px;
        padding: 0px;
    }

    .film-div{

        flex: 0 0 auto;
        width: 25vw;
        height: auto;
        background-color: #6a0795;
        border-radius: 20px;
        padding: 5px; 
        
        display: flex;
        align-items: center;
        margin: 10px 200px;
    
        transition: transform 0.3s ease-in-out;
    }

    .swipe-left {
        transform: translateX(-100%) rotate(20deg);
    }
        
    .swipe-right {
        transform: translateX(100%) rotate(-20deg);
    }


    .film-div img{
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }

    .titolo-bottoni{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        margin: 0px;

        width: 100%;
    }

    .titolo-bottoni h3{
        color: white;
        font-size: 20px;
        font-weight: bold;
        margin: 10px;
    }

    .like-dislike{
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    .like-dislike button{
        font-size: 20px;
        color: white;
        font-weight: bold;

        margin: 50px;
        padding: 20px;

        background-color: #6a0795;
        border-radius: 50px;

        display: flex;
        justify-content: center;
        align-items: center;

        width: 80px;
        height: 80px;

        border: none;
        cursor: pointer; /* Cambia il cursore per indicare che è cliccabile */
    }

    .esci{
        display: flex;
        align-items: center;
        justify-content: center;

        margin: 60px;

    }

    .esci button{
        font-size: 18px;
        color: white;
        font-weight: bold;

        padding: 20px;

        background-color: #6a0795;
        border-radius: 50px;

        justify-content: center;

        display: flex;        

        border: none;
        cursor: pointer; /* Cambia il cursore per indicare che è cliccabile */
    }
}