/*desktop*/
@media (min-width: 1024px) {

    .overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Sfondo semi-trasparente */
        display: flex;
        z-index: 1000; /* Assicurati che l'overlay sia sopra tutti gli altri elementi */
      }
      

    .popup {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
        padding: 10px;

        height: 100%;
        max-height: 300px;

        width: 100%;
        max-width: 450px;

        display: flex;
        justify-content: center;
        align-items: center;

        background-color: #6a0795;
        border-radius: 20px;
        border: 2px solid white;

        animation: fadeIn 0.4s ease-out;
        box-shadow: 0 2px 2px rgba(250, 250, 150, 1);
    }

    @keyframes fadeIn {
        from { opacity: 0; transform: translate(-50%, -60%); }
        to { opacity: 1; transform: translate(-50%, -50%); }
    }

    .close-btn {

        position: absolute;
        top: 15px;
        right: 15px;

        padding: 10px;
        width: 25px;
        height: 25px;

        box-shadow: 1px 1px 7px #000000;
        border-style: solid;
        border-color: #ffffff;
        border-radius: 50%;

        background-color: #6a0795;
        color: white;

        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 18px;
        font-weight: bold;

        cursor: pointer;
    }

    .contenitore-crea{

        overflow: hidden;

        width: 100%;
        height: 100%;

        margin: 0px;
        padding: 0px;

        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: center;
    }

    .titolo-popup{

        display: flex;
        align-items: center;
        justify-content: center;

        margin: 10px 0;
        padding: 10px;

        width: 100%;
    }

    .titolo-popup h1{

        color: white;
        font-size: 30px;
        font-weight: bold;
    }

    .gioca-con{

        display: flex;
        flex-direction: row;

        align-items: center;
        justify-content: center;

        margin: 10px 0;
        padding: 10px;

        width: 100%;
    }

    .gioca-con h2{

        color: white;
        text-align: center;
        font-size: 20px;
        font-weight: bold;

        margin: 0 5px;
        padding: 0px;
    }

    .gioca-con-icon{

        font-size: 20px;
        color: #ffffff;

        margin: 0 5px;
    }

    .nome-partita{
        display: flex;
        flex-direction: row;

        align-items: center;
        justify-content: center;

        margin: 10px 0;
        padding: 10px;

        width: 100%;
    }

    .nome-partita h2{

        color: white;
        text-align: center;
        font-size: 20px;
        font-weight: bold;

        margin: 0 5px;
        padding: 0px;
    }

    .nome-partita input{

        padding: 5px;

        text-align: center;
        text-transform: none;
        font-size: 15px;
        
        color:  white;
        background-color: #6a0795f0;
        
        border: 2px solid white;
        border-radius: 20px;

        margin: 0 5px;
    }

    .nome-partita input::placeholder {
        color: white; /* Colore del testo del placeholder */
    }

    .nome-partita-icon {
        color: white;
        font-size: 20px;

        margin: 0 5px;
    }

    .crea-partita{
        display: flex;
        align-items: center;
        justify-content: center;

        margin: 10px 0;
        padding: 10px;

        width: 100%;
    }

    .crea-button{
        
        background-color: white;
        border-radius: 20px;
        border: 2px solid black;

        margin: 0px;
        padding: 5px;

        cursor: pointer;
    }

    .crea-button h2{

        color: #6a0795;
        font-size: 20px;
        font-weight: bold;

        margin: 2px;
        padding: 0px;
    }

    .from-select-container {
        position: relative;
        display: inline-block;
    }

    .from-select{

        display: flex;   
        justify-content: center;     
        align-items: center;
        
        text-align: center;
        text-transform: none;
        font-size: 15px;
        
        color:  white;
        background-color: #6a0795f0;
        
        border: 2px solid white;
        border-radius: 20px;

        width: auto;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
        padding-right: 15px;

        cursor: pointer;

        position: relative; 
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }

    .from-select-arrow {

        position: absolute;

        right: 5px;
        top: 50%;
        transform: translateY(-50%);

        width: 0;
        height: 0;


        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid white;

        pointer-events: none;
    }
    
    .contenitore-partecipa{
        overflow: hidden;

        width: 100%;
        height: 100%;

        margin: 0px;
        padding: 0px;

        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: center;
    }

    .codice-partita{
        display: flex;
        flex-direction: row;

        align-items: center;
        justify-content: center;

        margin: 10px 0;
        padding: 10px;

        width: 100%;
    }

    .codice-partita input{

        padding: 5px;

        text-align: center;
        text-transform: none;
        font-size: 15px;
        
        color:  white;
        background-color: #6a0795f0;
        
        border: 2px solid white;
        border-radius: 20px;

        margin: 0 5px;
    }

    .codice-partita input::placeholder {
        color: white; /* Colore del testo del placeholder */
    }

    .codice-partita-icon {
        color: white;
        font-size: 20px;

        margin: 0 5px;
    }

    .partecipa-partita{
        display: flex;
        align-items: center;
        justify-content: center;

        margin: 10px 0;
        padding: 10px;

        width: 100%;
    }

    .partecipa-button{
        
        background-color: white;
        border-radius: 20px;
        border: 2px solid black;

        margin: 0px;
        padding: 5px;

        cursor: pointer;
    }

    .partecipa-button h2{

        color: #6a0795;
        font-size: 20px;
        font-weight: bold;

        margin: 2px;
        padding: 0px;
    }

    .popup-impostazioni{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
        padding: 10px;

        height: 100%;
        max-height: 500px;

        width: 100%;
        max-width: 400px;

        display: flex;
        justify-content: center;
        align-items: center;

        background-color: #6a0795;
        border-radius: 20px;
        border: 2px solid white;

        animation: fadeIn 0.4s ease-out;
        box-shadow: 0 2px 2px rgba(250, 250, 150, 1);
    }

    .contenitore-impostazioni{
        
        overflow: hidden;

        width: 100%;
        height: 100%;

        margin: 0px;
        padding: 0px;

        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: center;
    }

    /*tag x lista dei film*/
    .lista-elementi{

        display: flex;

        align-items: center;
        justify-content: center;

        margin: 0;
        padding: 0;

        width: 100%;
    }

    .container-elementi{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;

        width: 100%;
        height: 100%;
        
    }

    .lista-film{
        z-index: 100000000000;
        background-color: #6a0795;
        border-radius: 20px;
        margin: 10px;
        overflow: hidden;
        height: fit-content;
        max-height: 350px;
        overflow-y: auto;
        display: flex;
        flex-direction: column;

        scrollbar-width: none; /* Per Firefox */
        -ms-overflow-style: none; /* Per Internet Explorer e Edge */
    }

    .lista-film::-webkit-scrollbar {
        /* Nascondo la scrollbar */
        display: none; /* Per Chrome, Safari e Opera */
    }

    .lista-film-item{
        display: flex;
        flex-direction: row;
        align-items: center;

        justify-content: space-between;
    }

    .lista-film-item p{
        font-size: 15px;
        text-align: left;
        margin: 0;
        margin-right: 10px;

        user-select: none;
    }

    .film-item{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 10px;
        width: 60px; 
        height: auto;
        background-color: #f5f5f5;
        padding: 1px;
        border-radius: 10px;
    }

    .film-item img{
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }

    .invia-impostazioni{
        display: flex;
        align-items: center;
        justify-content: center;

        margin: 10px 0;
        padding: 10px;

        width: 100%;
    }

    .impostazioni-button{
        
        background-color: white;
        border-radius: 20px;
        border: 2px solid black;

        margin: 0px;
        padding: 5px;

        cursor: pointer;
    }

    .impostazioni-button h2{

        color: #6a0795;
        font-size: 20px;
        font-weight: bold;

        margin: 2px;
        padding: 0px;
    }

    .contenitore-match{
        overflow: hidden;

        width: 100%;
        height: 100%;

        margin: 0px;
        padding: 0px;

        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: center;
    }

    .lista-match-container{
        display: flex;

        align-items: center;
        justify-content: center;

        margin: 0;
        padding: 0;

        width: 100%;
    }

    .lista-match{
        z-index: 100000000000;
        background-color: #6a0795;
        border-radius: 20px;
        margin: 10px;
        overflow: hidden;
        height: fit-content;
        width: 100%;
        max-height: 400px;
        overflow-y: auto;
        display: flex;
        flex-direction: column;

        scrollbar-width: none; /* Per Firefox */
        -ms-overflow-style: none; /* Per Internet Explorer e Edge */
    }

    .lista-match::-webkit-scrollbar {
        /* Nascondo la scrollbar */
        display: none; /* Per Chrome, Safari e Opera */
    }

    

    .match-element{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; /* Tre colonne di larghezza uguale */
        grid-template-rows: auto; /* Altezza automatica per le righe */
        gap: 10px; /* Spazio tra le celle della griglia */
        
        align-items: center;
        justify-content: space-around;

        margin: 5px;
        padding: 5px;

        /*bordo bianco*/
        border: 2px solid white;
        border-radius: 20px;


        height: fit-content;

    }

    .match-element p{
        font-size: 15px;
        text-align: center;
        margin: 0;

    }

    .match-element button{
        background-color: white;
        border-radius: 50px;
        border: none;
        margin: 0px;
        padding: 5px;

        cursor: pointer;

        font-weight: bold;
    }

}

/*mobile*/
@media (max-width: 1023px) {
    .overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Sfondo semi-trasparente */
        display: flex;
        z-index: 1000; /* Assicurati che l'overlay sia sopra tutti gli altri elementi */
      }
      

    .popup {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
        padding: 10px;

        height: 100%;
        max-height: 400px;

        width: 100%;
        max-width: 300px;

        display: flex;
        justify-content: center;
        align-items: center;

        background-color: #6a0795;
        border-radius: 20px;
        border: 2px solid white;

        animation: fadeIn 0.4s ease-out;
        box-shadow: 0 2px 2px rgba(250, 250, 150, 1);
    }

    @keyframes fadeIn {
        from { opacity: 0; transform: translate(-50%, -60%); }
        to { opacity: 1; transform: translate(-50%, -50%); }
    }

    .close-btn {

        position: absolute;
        top: 15px;
        right: 15px;

        padding: 10px;
        width: 25px;
        height: 25px;

        box-shadow: 1px 1px 7px #000000;
        border-style: solid;
        border-color: #ffffff;
        border-radius: 50%;

        background-color: #6a0795;
        color: white;

        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 18px;
        font-weight: bold;

        cursor: pointer;
    }

    .contenitore-crea{

        overflow: hidden;

        width: 100%;
        height: 100%;

        margin: 0px;
        padding: 0px;

        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: center;
    }

    .titolo-popup{

        display: flex;
        align-items: center;
        justify-content: center;

        margin: 10px 0;
        padding: 10px;

        width: 100%;
    }

    .titolo-popup h1{

        color: white;
        font-size: 25px;
        font-weight: bold;
    }

    .gioca-con{

        display: flex;
        flex-direction: row;

        align-items: center;
        justify-content: center;

        margin: 10px 0;
        padding: 10px;

        width: 90%;
    }

    .gioca-con h2{

        color: white;
        text-align: center;
        font-size: 20px;
        font-weight: bold;

        margin: 0 5px;
        padding: 0px;

        width: 100%;
    }

    .gioca-con-icon{

        font-size: 20px;
        color: #ffffff;

        margin: 0 5px;

        width: auto;
    }

    .nome-partita{
        display: flex;
        flex-direction: row;

        align-items: center;
        justify-content: center;

        margin: 10px 0;
        padding: 10px;

        width: 90%;
    }

    /*
    .nome-partita h2{

        color: white;
        text-align: center;
        font-size: 20px;
        font-weight: bold;

        margin: 0 5px;
        padding: 0px;
    }
    */

    .nome-partita input{

        padding: 5px;
        width: 100%;

        text-align: center;
        text-transform: none;
        font-size: 15px;
        
        color:  white;
        background-color: #6a0795f0;
        
        border: 2px solid white;
        border-radius: 20px;

        margin: 0 5px;
    }

    .nome-partita input::placeholder {
        color: white; /* Colore del testo del placeholder */
    }

    .nome-partita-icon {
        color: white;
        font-size: 20px;

        margin: 0 5px;

        width: auto;
    }

    .crea-partita{
        display: flex;
        align-items: center;
        justify-content: center;

        margin: 10px 0;
        padding: 10px;

        width: 100%;
    }

    .crea-button{

        background-color: white;
        border-radius: 20px;
        border: 2px solid black;

        margin: 0px;
        padding: 5px;

        cursor: pointer;
    }

    .crea-button h2{

        color: #6a0795;
        font-size: 20px;
        font-weight: bold;

        margin: 2px;
        padding: 0px;
    }

    .from-select-container {
        position: relative;
        display: inline-block;
    }
    
    .from-select{
        display: flex;   
        justify-content: center;     
        align-items: center;
        
        text-align: center;
        text-transform: none;
        font-size: 15px;
        
        color:  white;
        background-color: #6a0795f0;
        
        border: 2px solid white;
        border-radius: 20px;

        width: auto;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
        padding-right: 15px;


        cursor: pointer;
        
        position: relative; 
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }

    .from-select-arrow {

        position: absolute;
        right: 5px;
        top: 50%;
        transform: translateY(-50%);

        width: 0;
        height: 0;

        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid white;

        pointer-events: none;
    }
    
    .contenitore-partecipa{
        overflow: hidden;

        width: 100%;
        height: 100%;

        margin: 0px;
        padding: 0px;

        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: center;
    }

    .codice-partita{
        display: flex;
        flex-direction: row;

        align-items: center;
        justify-content: center;

        margin: 10px 0;
        padding: 10px;

        width: 100%;
    }

    .codice-partita input{

        padding: 5px;

        text-align: center;
        text-transform: none;
        font-size: 15px;
        
        color:  white;
        background-color: #6a0795f0;
        
        border: 2px solid white;
        border-radius: 20px;

        margin: 0 5px;
    }

    .codice-partita input::placeholder {
        color: white; /* Colore del testo del placeholder */
    }

    .codice-partita-icon {
        color: white;
        font-size: 20px;

        margin: 0 5px;
    }

    .partecipa-partita{
        display: flex;
        align-items: center;
        justify-content: center;

        margin: 10px 0;
        padding: 10px;

        width: 100%;
    }

    .partecipa-button{

        background-color: white;
        border-radius: 20px;
        border: 2px solid black;

        margin: 0px;
        padding: 5px;

        cursor: pointer;
    }

    .partecipa-button h2{

        color: #6a0795;
        font-size: 20px;
        font-weight: bold;

        margin: 2px;
        padding: 0px;
    }

    .popup-impostazioni {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
        padding: 10px;

        height: 100%;
        max-height: 500px;

        width: 100%;
        max-width: 300px;

        display: flex;
        justify-content: center;
        align-items: center;

        background-color: #6a0795;
        border-radius: 20px;
        border: 2px solid white;

        animation: fadeIn 0.4s ease-out;
        box-shadow: 0 2px 2px rgba(250, 250, 150, 1);
    }

    .contenitore-impostazioni{

        overflow: hidden;

        width: 100%;
        height: 100%;

        margin: 0px;
        padding: 0px;

        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: center;
    }

    .lista-elementi{

        display: flex;

        align-items: center;
        justify-content: center;

        margin: -20px 0;
        
        padding: 0;

        width: 100%;
    }

    .container-elementi{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;

        width: 100%;
        height: 100%;
        
    }

    .lista-film{
        background-color: #6a0795;
        border-radius: 20px;
        margin: 10px;
        overflow: hidden;
        height: fit-content;
        max-height: 360px;
        overflow-y: auto;
        display: flex;
        flex-direction: column;

        scrollbar-width: none; /* Per Firefox */
        -ms-overflow-style: none; /* Per Internet Explorer e Edge */
    }

    .lista-film::-webkit-scrollbar {
        /* Nascondo la scrollbar */
        display: none; /* Per Chrome, Safari e Opera */
    }

    .lista-film-item{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .lista-film-item p{
        font-size: 15px;
        text-align: left;
        margin: 0;
        margin-right: 10px;
        text-align: center;

        user-select: none;
    }

    .film-item{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 10px;
        width: 60px; 
        height: auto;
        background-color: #f5f5f5;
        padding: 1px;
        border-radius: 10px;
    }

    .film-item img{
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }

    .invia-impostazioni{
        display: flex;
        align-items: center;
        justify-content: center;

        margin: 20px 0;
        padding: 10px;

        width: 100%;
    }

    .impostazioni-button{

        background-color: white;
        border-radius: 20px;
        border: 2px solid black;

        margin: 0px;
        padding: 5px;

        cursor: pointer;
    }

    .impostazioni-button h2{

        color: #6a0795;
        font-size: 20px;
        font-weight: bold;

        margin: 2px;
        padding: 0px;
    }

    .contenitore-match{
        overflow: hidden;

        width: 100%;
        height: 100%;

        margin: 0px;
        padding: 0px;

        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: center;
    }

    .lista-match-container{
        display: flex;

        align-items: center;
        justify-content: center;

        margin: 0;
        padding: 0;

        width: 100%;
    }

    .lista-match{
        z-index: 100000000000;
        background-color: #6a0795;
        border-radius: 20px;
        margin: 10px;
        overflow: hidden;
        height: fit-content;
        width: 100%;
        max-height: 360px;
        overflow-y: auto;
        display: flex;
        flex-direction: column;

        scrollbar-width: none; /* Per Firefox */
        -ms-overflow-style: none; /* Per Internet Explorer e Edge */
    }

    .lista-match::-webkit-scrollbar {
        /* Nascondo la scrollbar */
        display: none; /* Per Chrome, Safari e Opera */
    }

    .match-element{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; /* Tre colonne di larghezza uguale */
        grid-template-rows: auto; /* Altezza automatica per le righe */
        gap: 10px; /* Spazio tra le celle della griglia */
        
        align-items: center;
        justify-content: space-around;

        margin: 5px;
        padding: 5px;

        /*bordo bianco*/
        border: 2px solid white;
        border-radius: 20px;


        height: fit-content;

    }

    .match-element p{
        font-size: 12px;
        text-align: center;
        margin: 0;

    }

    .match-element button{
        background-color: white;
        border-radius: 50px;
        border: none;
        margin: 0px;
        padding: 5px;

        cursor: pointer;

        font-weight: bold;
    }
}

