/*desktop*/
@media (min-width: 1024px) {
    .RiLockPasswordLine-icon{
        color: white;
        font-size: 45px;
        position: absolute;
        top: -15px;
        left: 20px;
    }
}

/*mobile*/
@media (max-width: 1023px) {
    .RiLockPasswordLine-icon{
        color: white;
        font-size: 27px;
        position: absolute;
        top: -40px;
        left: 30px;
    }
}