

.spinWheel{
    background-color: transparent;
    color: white;

    align-items: center;
    justify-content: center;

    display: flex;
    width: fit-content;
    height: auto;

    margin: 0;

    position: relative;
    

    overflow: hidden;

}